.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden; */
}

.top {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  flex: 2;
  
  background-color: white;
  margin: 4vh 2vw 0vw 2vw;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  /* border: red 1px solid; */
}

.top2 {
  display: flex;
  flex-direction: row;
  /* border: green 1px solid; */
}

.center {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: magenta; */
  margin: 0 1vw 0 1vw;
}

.footer {
  display: flex;
  flex-direction: row;
  flex: 2;
  /* background-color: yellow; */
  margin: 0 1vw 2vh 1vw;
}


.imagenClima {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  flex: 1;
  margin-top: -1vw;
  /* border: 2px dotted green; */
}

.datosActuales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  /* height: 100%; */
  flex: 1;
  /* border: 2px dotted green; */
}


.estadoClima {
  display: flex;
  align-items: center;
  justify-content:center;
  /* height: 100%; */
  flex: 1;
  /* border: 2px dotted green; */
  margin: 2vh 1vw 0 1vw;
}

.rowTempXHora {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh 1.5vw 0vh 1.5vw;
}

.rowTempXHora button {
  border: 1px solid #7f7f7f;
  border-radius: 15px;
  padding: 1px;
  height: 90px;
}

.rowTempXHora button:hover {
  background-color: white;
}

.rowTempXHora button:active {
  background-color: rgb(230, 230, 230);
}

.temperaturasDiaria {
  display: flex;
  flex-direction: row;
  justify-content:left;
  flex-wrap:nowrap;
  overflow: hidden;
  gap: 1.6vh;
  /* height: 100%; */
  flex: 2;
  /* border: 2px dotted green; */
  margin: 1vh 1vw 1vh 1vw;
}

.temperaturaXHora {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 68px;
  min-height: 85px;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5vh;
}


.temperaturaMaxMin {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  flex: 1;
  /* border: 2px dotted green; */
  background-color: white;
  margin: 2vh 1vw 2vh 1vw;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.indices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vh;
  /* height: 100%; */
  flex: 3;
  /* border: 2px dotted green; */
  margin: 2vh 1vw 2vh 0.5vw;
}


.compIndices {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 140px; */
  width: 10vw;
  /* min-height: 126px; */
  min-height: 7vw;
  /* border: 2px dotted red; */
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}



@media screen and (min-width: 320px) {
  .top {
    /* border: #510101 1px solid; */
    margin: 3vh 2vw -1vw 2vw;
    flex: 2;
  }
  .top2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .imagenClima {
    margin-top: -0.5vw;
    flex: 1;
  }
  .datosActuales {
    margin-top: -1vw;
    flex: 1.5;
    gap: 0.5vh;
  }
  .center {
    margin: -2.5vw 1vw 0 1vw;
    flex: auto;
  }
  .estadoClima {
    margin: 0vh 1vw 0 1vw;
  }
  .rowTempXHora {
    margin: -4vh 1.5vw 0.5vh 1.5vw;
  }
  .footer {
    flex-direction: column;
    flex: 1;
  }
  .temperaturaMaxMin {
    margin: 0vh 1vw 1vh 1vw;
    flex: 0;
  }
  .indices {
    gap: 2vh;
    flex: 3;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: space-between;
  }
  .compIndices {
    width: 46%;
  }
}

@media screen and (min-width: 768px) {
  .top {
    /* border: #0d0151 1px solid; */
    margin: 3vh 2vw 0vw 2vw;
    flex: auto;
  }
  .top2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .imagenClima {
    margin-top: -0.5vw;
    flex: 1;
  }
  .datosActuales {
    margin-top: -1vw;
    flex: 1.5;
    gap: 0.5vh;
  }
  .center {
    margin: -1.5vw 1vw 0 1vw;
    flex: auto;
  }
  .estadoClima {
    margin: 0vh 1vw 0 1vw;
  }
  .rowTempXHora {
    margin: -2.5vh 1.5vw 0vh 1.5vw;
  }
  .footer {
    flex-direction: column;
    flex: auto;
  }
  .temperaturaMaxMin {
    margin: 0vh 1vw 1vh 1vw;
    flex: 0;
  }
  .indices {
    gap: 2vh;
    flex: 3;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: space-between;
  }
  .compIndices {
    width: 30%;
    min-height: 7vw;
  }
}

@media screen and (min-width: 1024px) {
  .top {
    flex: auto;
    /* border: #015114 1px solid; */
  }
  .top2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .imagenClima {
    margin-top: -0.5vw;
    flex: 1;
  }
  .datosActuales {
    margin-top: -1vw;
    flex: 1.5;
    gap: 0.5vh;
  }
  .center {
    margin: -1.5vw 1vw 0 1vw;
    flex: auto;
  }
  .estadoClima {
    margin: 2vw 1vw 1vw 1vw;
  }
  .rowTempXHora {
    margin: -1.5vh 1.5vw 0vh 1.5vw;
  }
  .footer {
    flex-direction: column;
    flex: auto;
  }
  .temperaturaMaxMin {
    margin: 1vh 1vw 1vh 1vw;
    flex: 0;
  }
  .indices {
    gap: 1vh;
    flex: 3;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: space-between;
    
  }
  .compIndices {
    width: 30%;
    height: 9vw;
  }
}


@media screen and (min-width: 1200px) {
  .top {
    flex: auto;
    /* border: #0008ff 1px solid; */
  }
  .top2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .imagenClima {
    margin-top: -0.5vw;
    flex: 1;
  }
  .datosActuales {
    margin-top: -1vw;
    flex: 1.5;
    gap: 0.5vh;
  }
  .center {
    margin: -1.5vw 1vw 0 1vw;
    flex: auto;
  }
  .estadoClima {
    margin: 2vw 1vw 1vw 1vw;
  }
  .rowTempXHora {
    margin: -1.5vh 1.5vw 0vh 1.5vw;
  }
  .footer {
    flex-direction: column;
    flex: auto;
  }
  .temperaturaMaxMin {
    margin: 1vh 1vw 1vh 1vw;
    flex: 0;
  }
  .indices {
    gap: 1vh;
    flex: 3;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: space-between;
    align-content: space-around;
  }
  .compIndices {
    width: 30%;
    height: 0;
  }
}


@media screen and (min-width: 1440px) {
  .top {
    /* border: #440151 1px solid; */
    margin: 4vh 2vw 0vw 2vw;
    height: 40%;
    flex: auto;
  }
  .top2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .imagenClima {
    margin-top: -1vw;
    flex: 1;
  }
  .datosActuales {
    margin-top: -1vw;
    flex: 1;
    gap: 1vh;
  }
  .center {
    margin: 0 1vw 0 1vw;
    flex: auto;
  }
  .estadoClima {
    margin: 2vh 1vw 0 1vw;
  }
  .rowTempXHora {
    margin: 1vh 1.5vw 0vh 1.5vw;
  }
  .footer {
    flex-direction: row;
    flex: auto;
    margin: 0 1vw 2vh 1vw;
    align-items:stretch;
  }
  .temperaturaMaxMin {
    margin: 2vh 1vw 2vh 1vw;
    flex: 1;
  }
  .indices {
    flex: 3;
    gap: 2vh;
    margin: 2vh 1vw 2vh 1vw;
    align-content: space-between;
  }
  .compIndices {
    width: 10vw;
    height: 0;
  }
}