.leaflet-container {
  width: 51vw;
  height: 100vh;
}

.selectorFlotante {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.95);
  width: 42vw;
  height: 3vw;
  border-radius: 20px;
  top: 1vw;
  z-index: 999;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

.selectorFlotante select {
  color: #4a4a4a;
  height: 2vw;
  font-size: 2vh;
  padding: 0.3vw;
  border-radius: 10px 10px 10px 10px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.selectorFlotante select:focus {
  border-radius: 10px 10px 0px 0px;
}

.selectorFlotante select option {
  border: 0 !important;
}

.tituloTransporte {
  font-size: 1.2vw;
  color: #4a4a4a;
  margin-right: 1vw;
}

/* sombra para el icono personalizado */
.sombraIcono {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.lineaColectivo {
  border-bottom: #6044AE solid 1px;
  margin-bottom: 0.3vw;
}

.direccionColectivo {
  background-color: #4a4a4a;
  color: white;
  border-radius: 0.3vw;
  padding: 0.25vw;
  margin-bottom: 0.3vw;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgb(255, 255, 255) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #4a4a4a;
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
} 