.dia p {
  color: #4B4B4B;
  font-size: 18px;
  font-size: 1.3vw;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (min-width: 320px) {
  .dia p {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 1440px) {
  .dia p {
    font-size: 1.3vw;
  }
}