input {
  color: #4b4b4b;
  border-radius: 15px 0 0 15px;
  border: #e1e1e1 1px solid;
  height: 4vh;
  width: 45%;
  padding-left: 0.7em;
  margin: 2vh 0 0 2vh;
  font-size: 1.2em;
}

input::placeholder {
  color: #6b6b6b;
}

input:focus {
  border: #a7a7a7 1px solid;
}

.input-ciudad:focus {
  outline: none;
}

.ciudad {
  display: flex;
  justify-content:flex-end;
}

.botonBuscar {
  height: 4.16vh;
  margin: 2vh 2vh 0 0;
  border-radius: 0 15px 15px 0;
  padding: 0 5px 0 10px;
  border: 1px solid #7f7f7f;
}

.botonBuscar:hover {
  background-color: white;
  border: #4b4b4b 1px solid;
}

.botonBuscar:active {
  background-color: rgb(230, 230, 230);
}

.botonBuscar img {
  margin-top: 3px;
  height: 55% !important;
  width: 55% !important;
}

@media screen and (min-width: 320px) {
  input {
    width: 95%;
    margin: 2vh 0 2vh 2vh;
  }
}