* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  min-height: 100vh;
}

.clima {
  min-width: 50%;
  min-height: 100%;
  background-color: #EFEFEF;
}

.transporte {
  min-width: 50%;
  min-height: 100%;
  background-color: #4a4a4a;
}
